:root {
  --laranja: #ff9d00ee;
  --amarelo: #ffda2d;
  --main-color: #ff6c6c;
}

.favoritosTitle {
  color: var(--main-color);
  text-align: start;
  padding: 2rem 3rem;
  font-size: 2rem;
  font-family: fantasy;
  margin: 0;
  text-align: center;
}
.fontTitle {
  font-family: fantasy;
}

.main {
  height: 100%;
  width: 100vw;
  
}

.containerDadosIndividual {
  display: flex;
  justify-content: start;
  flex-direction: column;
  font-family: fantasy;
  flex-wrap: wrap;
}

.containerDados {
  display: flex;
  justify-content: center;
  padding: 1rem 3rem;
  gap: 5rem;
}
